# Project Directories
__pycache__/
*.py[cod]
.venv/
venv/
.env
.streamlit/secrets.toml

# Editor directories and files
.agents
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
